<!doctype html>
{% extends "base.html" %}
{% load staticfiles %}
{% block main %}
    <div class="jumbotron">
      <div class="container">
        <table class="table table-bordered table-hover" id = 'table'>
        <thead style='text-align: center'>
            <tr>
                <th>ИД</th>
                <th>Индекси</th>
                <th>Статус</th>
                <th>Приет в Офис</th>
                <th>Приет в Централно управление</th>
                <th>Приет в Склад</th>
            </tr>
        </thead>
        <tbody>
            {% for eachElement in frontData%}
            {% if eachElement.document.status != 'incorrect-input' %}

            <tr align='left'>
                <td style="vertical-align:middle"> {{eachElement.document.id|stringformat:"06d"}} </td>
                <td style="vertical-align:middle"> 
                        Име на регион:          {{eachElement.fields.field1}} </br>
                        Име на клон:            {{eachElement.fields.field2}} </br>
                        Клиентски номер:        {{eachElement.fields.field3}} </br>
                        ЕИК/БУЛСТАТ:            {{eachElement.fields.field4}} </br>
                        Име на клиент:          {{eachElement.fields.field5}} </br>
                        Дата на договор:        {{eachElement.fields.field6}} </br>
                        номер на сметка:        {{eachElement.fields.field7}} </br>
                        Размер на кредит:       {{eachElement.fields.field8}} </br>
                        Валута:                 {{eachElement.fields.field9}} </br>
                        КИ идентификатор:       {{eachElement.fields.field10}} </br>
                        Вид на документ:        {{eachElement.fields.field11}} </br>
                        Описание:               {{eachElement.fields.field12}} </br>
                </td>

                <td style="vertical-align:middle"> 
                    {% if eachElement.document.status == 'in-warehouse' %}
                        Наличен
                    {% elif eachElement.document.status == 'in-courier' %}
                        В транзит
                    {% elif eachElement.document.status == 'destroyed' %}
                        Унищожен
                    {% endif %}
                </td>
                <td style="vertical-align:middle"> 
                    {% if eachElement.document.officeStartDate == None %}
                        ----
                    {% else %}
                        {{eachElement.document.officeStartDate}}
                    {% endif %}
                </td>
                <td style="vertical-align:middle"> 
                    {% if eachElement.document.centralManagementStartDate == None %}
                        ----
                    {% else %}
                        {{eachElement.document.centralManagementStartDate}}
                    {% endif %}
                </td>
                <td style="vertical-align:middle"> 
                    {% if eachElement.document.archiveStartDate == None %}
                        ----
                    {% else %}
                        {{eachElement.document.archiveStartDate}}
                    {% endif %}
                </td>
            </tr>
            {%endif%}
            {%endfor%}
        </tbody>
    </table>
  </div>

    <script type="text/javascript">
    $(document).ready(function(){
        $('#table').DataTable({
        "iDisplayLength": 50,
        "bLengthChange": false,
        "autoWidth": true,
        "bFilter": true,
        'bSort': true,
        'language': {
                        "sProcessing":   "Обработка на резултатите...",
                        "sLengthMenu":   "Показване на _MENU_ резултата",
                        "sZeroRecords":  "Няма намерени резултати",
                        "sInfo":         "Показване на резултати от _START_ до _END_ от общо _TOTAL_",
                        "sInfoEmpty":    "Показване на резултати от 0 до 0 от общо 0",
                        "sInfoFiltered": "(филтрирани от общо _MAX_ резултата)",
                        "sInfoPostFix":  "",
                        "sSearch":       "Търсене във всички колони:",
                        "sUrl":          "",
                        "oPaginate": {
                            "sFirst":    "Първа",
                            "sPrevious": "Предишна",
                            "sNext":     "Следваща",
                            "sLast":     "Последна"
                        }
                    }
        });
    });
    </script>

      </div>
    </div>
    {%endblock%}