<!doctype html>
{% extends "base.html" %}
{% load staticfiles %}
{% block main %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
        <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2>Система за управление на Склад 1 (Офис 1)!</h2>
        <p>Чрез текущо заредения модул имате възможност за физическо управление на документи намиращи се в Офис.</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Създаване</h2>
          <p>Създаване на нови документи към системата</p>
          <p><a class="btn btn-default btn-block" href="/office/create-new" role="button">Ръчно въвеждане</a></p>
          <p><a class="btn btn-default btn-block" href="/office/create-bulk" role="button">Import от файл</a></p>
        </div>
        <div class="col-md-4">
          <h2>Преглед</h2>
          <p>Преглед и търсене на документи</p>
          <p><a class="btn btn-default btn-block" href="#" role="button">Преглед</a></p>
       </div>
        <div class="col-md-4">
          <h2>Операции</h2>
          <p>Манипулации с документи</p>
          <p><a class="btn btn-default btn-block" href="#" role="button">Преместване в Централно управление</a></p>
          <p><a class="btn btn-default btn-block" href="#" role="button">Преместване в Архив</a></p>
        </div>
      </div>
      <hr>
{% endblock %}