<!doctype html>
{% extends "base.html" %}
{% load staticfiles %}
{% block main %}
  <meta http-equiv="refresh" content="5;url=/office">
    <div class="jumbotron">
      <div class="container">
        <h2 style='color:red'>Заявката за прехвърляне на документи не беше завършена успешно!</h2>
        <p> Моля върнете се преминете през стъпките отново!  </br>
        <em> Не е разрешено да изпращате един и същ документ едновременно до Централно управление и до Централен Архив!</em>
        </p>
      </div>
    </div>
    {%endblock%}