<!doctype html>
{% extends "base.html" %}
{% load staticfiles %}
{% block main %}
    <div class="jumbotron">
      <div class="container">
        <table class="table table-bordered table-hover" id = 'table'>
        <thead style='text-align: center'>
            <tr>
                <th>ИД</th>
                <th>Индекси</th>
                <th>Статус</th>
                <th>Операции</th>
            </tr>
        </thead>
        <tbody>
            {% for eachElement in criteriaData%}
            {% if eachElement.documentID.status != 'incorrect-input' %}

            <tr align='left'>
                <td style="vertical-align:middle"> {{eachElement.documentID.id}} </td>
                <td style="vertical-align:middle"> 
                        Име на регион:      {{eachElement.field1}} </br>
                        Име на клон:        {{eachElement.field2}} </br>
                        Клиентски номер:    {{eachElement.field3}} </br>
                        ЕИК/БУЛСТАТ:        {{eachElement.field4}} </br>
                        Име на клиент:      {{eachElement.field5}} </br>
                        Дата на договор:    {{eachElement.field6}} </br>
                        номер на сметка:    {{eachElement.field7}} </br>
                        Размер на кредит:   {{eachElement.field8}} </br>
                        Валута:             {{eachElement.field9}} </br>
                        КИ идентификатор:   {{eachElement.field10}} </br>
                        Вид на документ:    {{eachElement.field11}} </br>
                        Описание:           {{eachElement.field12}} </br>                
                </td>

                <td style="vertical-align:middle"> 
                    {% if eachElement.documentID.status == 'in-warehouse' %}
                        Наличен
                    {% elif eachElement.documentID.status == 'in-courier' %}
                        В транзит
                    {% elif eachElement.documentID.status == 'destroyed' %}
                        Унищожен
                    {% endif %}
                </td>
                <td style="vertical-align:middle"> 
            <div id='move'>
                <button class='btn btn-success btn-block add_to_central' value='{{eachElement.documentID.id}}'>Добави в списък за ЦУ</button>
                <button class='btn btn-primary btn-block add_to_archive' value='{{eachElement.documentID.id}}'>
                    Добави в списък за архив
                </button>
            </div>  

                </td>

            </tr>
            {%endif%}
            {%endfor%}
        </tbody>
    </table>
    <div class='col-md-offset-4' align='left'>
        <form method='post' id='submit_to_move'> 
        {% csrf_token %}
            <label>
              Списък с документи за изпращане за централно управление:
            <input type='text' class='form-control'name='centralDocuments' id='centralDocuments' />
        </label>
        </br>
            <label>
              Списък с документи за изпращане за архив:
            <input type='text' class='form-control' name='archiveDocuments' id='archiveDocuments' />
        </label>
        </br>
        <div class='col-md-7'>
            <button type='submit' class='btn btn-primary btn-block' name='protocolButton' value = 'protocol' id='submit'> Разпечатай протокол </button>
            <button type='submit' class='btn btn-primary btn-block' name='listButton' value = 'list' id='submit'> Разпечатай протокол </button>
        </div>
    </form>
    </div>

  </div>



    <script type="text/javascript">
    var centralArrayID = new Array()
    var archiveArrayID = new Array()

    $(document).ready(function(){
        $('#table').DataTable({
        "iDisplayLength": 50,
        "bLengthChange": false,
        "autoWidth": true,
        "bFilter": true,
        'bSort': true,
        "bPaginate": false,
        'language': {
                        "sProcessing":   "Обработка на резултатите...",
                        "sLengthMenu":   "Показване на _MENU_ резултата",
                        "sZeroRecords":  "Няма намерени резултати",
                        "sInfo":         "Показване на резултати от _START_ до _END_ от общо _TOTAL_",
                        "sInfoEmpty":    "Показване на резултати от 0 до 0 от общо 0",
                        "sInfoFiltered": "(филтрирани от общо _MAX_ резултата)",
                        "sInfoPostFix":  "",
                        "sSearch":       "Търсене във всички колони:",
                        "sUrl":          "",
                        "oPaginate": {
                            "sFirst":    "Първа",
                            "sPrevious": "Предишна",
                            "sNext":     "Следваща",
                            "sLast":     "Последна"
                        }
                    }
        });
    });

    $(document).on('click','.add_to_central',function(){
        var value= $(this).val();
        centralArrayID.push(value);

        $(this).next().prop('disabled', true);
        $(this).replaceWith("<button class='btn btn-block btn-warning cancel-central' value="+ value +"> Откажи </button>");

        $('#centralDocuments').prop('value', centralArrayID);
    });
    $(document).on('click','.add_to_archive', function(){
        var value= $(this).val();
        archiveArrayID.push(value);

        $(this).prev().prop("disabled", true);
        $(this).replaceWith("<button class='btn btn-block btn-warning cancel-archive' value="+ value +"> Откажи </button>");

        $('#archiveDocuments').prop('value', archiveArrayID);
    });

    $(document).on('click','.cancel-central',function(){
        
        var value = $(this).val();
        var index = centralArrayID.indexOf(value);
        if (index > -1){
            centralArrayID.splice(index, 1);
        }
        $(this).next().prop("disabled", false);
        $(this).replaceWith("<button class='btn btn-success btn-block add_to_central' value="+ value +"> Добави в списък за ЦУ </button>");

        $('#centralDocuments').prop('value', centralArrayID);

    });
    $(document).on('click','.cancel-archive',function(){
        
        var value = $(this).val();
        var index = archiveArrayID.indexOf(value);
        if (index > -1){
            archiveArrayID.splice(index, 1);
        }
        $(this).prev().prop('disabled', false);
        $(this).replaceWith("<button class='btn btn-primary btn-block add_to_archive' value="+ value +"> Добави в списък за архив </button>");


        $('#archiveDocuments').prop('value', archiveArrayID);
    });
    $(document).on('click','#submit', function(event){
        var centralValue = $('#centralDocuments').val();
        var archiveValue = $('#archiveDocuments').val();

        if (centralValue.length > 0 || archiveValue.length > 0){
            $('#submit_to_move').submit();
        }
        else{
            event.preventDefault();
            alert('Не сте избрали документи за предаване!');
        }
    });

    </script>

      </div>
    </div>
    {%endblock%}