<!doctype html>
{% extends "base.html" %}
{% load staticfiles %}
{% block main %}
    
    <div class="jumbotron">
      <div class="container">
          <h2 align="center">Търсене на документ</h2>
      <!-- Example row of columns -->
      <div class="row">
        <form method='post'>
        <div class="col-md-4 col-md-offset-4 form-group" align="center">
          {% csrf_token %}
          <input type='text' class='form-control' name='field1' placeholder = 'Име на регион' />
          <input type='text' class='form-control' name='field2' placeholder = 'Име на клон' />
          <input type='text' class='form-control' name='field3' placeholder = 'Клиентски номер' />
          <input type='text' class='form-control' name='field4' placeholder = 'ЕИК/БУЛСТАТ' />
          <input type='text' class='form-control' name='field5' placeholder = 'Име на клиент' />
          <input type='text' class='form-control' name='field6' placeholder = 'Дата на договор' />
          <input type='text' class='form-control' name='field7' placeholder = 'Номер на сметка' />
          <input type='text' class='form-control' name='field8' placeholder = 'Размер на кредит' />
          <input type='text' class='form-control' name='field9' placeholder = 'Валута' />
          <input type='text' class='form-control' name='field10' placeholder = 'КИ идентификатор' />
          <input type='text' class='form-control' name='field11' placeholder = 'Вид на документ' />
          <input type='text' class='form-control' name='field12' placeholder = 'Описание' />
          <button name='searchButton' class="btn btn-default btn-block" type='submit' value='search'>Търси</button>
        </div>
      </form>
    </div>
  </div>
</div>
      <hr>

{%endblock%}