<!doctype html>
{% extends "base.html" %}
{% load staticfiles %}
{% block main %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2>Система за управление на Склад 2 (Централно управление)!</h2>
        <p>Чрез текущо заредения модул имате възможност за физическо управление на документи намиращи се в Централно управление.</p>
      </div>
    </div>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Приемане</h2>
      <p>Приемане и проверка на документи пристигнали от Офис 1 (Централно управление)</p>
      <p><a class="btn btn-default btn-block" href="/central-management/receipt" role="button">Приемане</a></p>
    </div>
    <div class="col-md-4">
      <h2>Преглед</h2>
      <p>Преглед и търсене на документи намиращи се в Офис 2 (Централно управление)</p>
      <p><a class="btn btn-default btn-block" href="/central-management/preview" role="button">Преглед</a></p>
      <p><a class="btn btn-default btn-block" href="/central-management/search" role="button">Търсене</a></p>
   </div>
    <div class="col-md-4">
      <h2>Операции</h2>
      <p>Манипулации с документи намиращи се в Офис 2 (Централно управление)</p>
      <p><a class="btn btn-default btn-block" href="/central-management/move-archive" role="button">Преместване в архив</a></p>
      <p><a class="btn btn-default btn-block" href="/central-management/conformation" role="button">Потвърждение</a></p>
    </div>
  </div>
      <hr>
{% endblock %}